.graphZone{
    background-color: #042e27;
    width: 75vw;
    height: 50vw;
    padding: 0;
    margin: 5vw;
}
.background{
    background-color: darkred;
}

.headerBox{
    background-color: dimgrey;
    height: 35vw;
    width: 75vw;
    padding: 0;
    margin: 5vw;
}