@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: dimgrey;

}
.middle {
  background-color: beige;
}
div{
  outline-color: darkred;
  outline-style: solid;
  outline-width: 2px;
}