
div{
  outline: solid 1px;
  outline-color: black
} 
:root {
  --bg-colour: rgb(44, 59, 87);
  --bg-colour-darker: rgb(20, 27, 40);
  --main-text-colour: rgb(206, 255, 225);
  background-color: var(--bg-colour);
  --graph-colour: rgb(255, 37, 102);
}

.PageWrapper{
  display: grid;
  grid-template-columns: 12rem calc(100vw - 24rem);
  grid-template-rows: 8rem calc(100vw - 12rem);
}

.IsText{
  color: var(--main-text-colour);
}

.Querey-Explanation-Graphs{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem;
}

.PopoutForm{
  position: absolute;
  width: 50vw;
  height:50vh;
  justify-self: center;
  align-self: center;
  background-color: red;
  color: yellow;
}


.GraphArea{
  display: grid;
}

.CustomGraphRow{
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 15rem;
  column-gap: 1rem;
  padding: 1rem;
}
.CustomGraph{
  display: grid;
}
.CustomQuerey{
  display: grid;
}
.Querey-Zone{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Querey-Box{
  display: grid;
}

.Form-Item {
  padding: 3px;
  background-color: var(--bg-colour-darker);
  color: azure;
}
.Form-Label{
  color: azure;
  padding: 3px;
}
.input-holder{
  float: left;
  margin: 12px;
}
input, label, select{
  display: block;
  color: azure;
}

.Graph-Wrapper{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 1rem;
  overflow: auto;
}

.GRAPH{
  column-span: 1;
}

.NAVITEM{
  pad: 5rem ;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: rgba(46, 229, 157, 0.4);
  color: #fff;

}

button:active {
  transform: translateY(-1px);
  background-color: crimson;
  box-shadow:crimson
}