@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(181, 188, 194);

}
.middle {
  background-color: beige;
}
div{
  outline: 1px solid;
  outline-color: rgb(125, 131, 136);
}